@model VaccineManagementAPI.Models.Member

@{
    ViewBag.Title = "MemberSlot";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<h2>Member Details</h2>

<p>
    @Html.ActionLink("Add Member", "AddMember")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MemberName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Age)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AadhaarNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.mslots.FirstOrDefault().DoseNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.mslots.FirstOrDefault().Status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.mslots.FirstOrDefault().Center.City)
        </th>

    </tr>
    <tr>
        <td>
            @Html.DisplayFor(modelItem => Model.MemberName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => Model.Age)
        </td>
        <td>
            @Html.DisplayFor(modelItem => Model.AadhaarNo)
        </td>
            <td>
                @Html.DisplayFor(modelItem => Model.mslots.First().DoseNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => Model.mslots.First().Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => Model.mslots.First().Center.City)
            </td>
        </tr>


</table>
